@{
    ViewData["Title"] = "Periodos";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}
<div class="card-body table-responsive p-0">
    <a asp-controller="Periodo" asp-action="CreatePeriodo">Registar Periodo Anual</a>

    <table class="table table-hover text-nowrap">
        <thead>
            <tr>
                <th>ID</th>
                <th>Descripcion</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Estado</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var periodo in ViewBag.Periodos)
            {
                <tr>
                    <td>@periodo.Periodoid</td>
                    <td>@periodo.Descripcion</td>
                    <td>@periodo.Fechainicio</td>
                    <td>@periodo.Fechafin</td>
                    <td>@periodo.Estado</td>

                    <td><a asp-action="EditPeriodo" asp-route-id="@periodo.Periodoid">Editar</a></td>
                    
                </tr>
            }

        </tbody>
    </table>
</div>

