@model SchoolSundayRH.Models.Padres;

@{ ViewBag.Title = "ASociar";

    List<SelectListItem> items = ViewBag.items;

    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";

}
<div class="col-md-6">
    <div class="card card-warning">
        <div class="card-header">
            <h3 class="card-title">Padre Con Sus Hijos</h3>
        </div>
        <div class="card-body">
            <form id="PatherSonForm" >
                <div class="row">
                    <div class="col-md-3 ">
                        <div class="form-group">
                            <label for="exampleInputNombre1">Padre</label>
                            @foreach (var padrecito in ViewBag.ItemPadre)
                            {
                                <input type="text" id="Nombre1" class="form-control" placeholder="Padre" value="@padrecito.Nombre1">
                                <input hidden type="text" id="Padreid" class="form-control" placeholder="Padre" value="@padrecito.Padreid">
                            }

                        </div>
                    </div>
                    <div class="col-md-5 offset-md-1">
                        <div class="form-group">
                            <label for="exampleInputNenes">Seleccione Hijo</label>
                            @Html.DropDownList("Hijo", items, "Seleccionar Niño", new { @class = "Form-control" })

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <!--  <input type="button" style="margin-top: 5px" value="Agregar Hijo" name="addson" id="btnAddToList" class="btn btn-success" />-->
                        <button type="button" id="btnAddToList" class="btn btn-success btn-sm">Agregar</button>

                    </div>
                </div>
                <div class="card">

                    <!-- /.card-header -->
                    <div class="card-body">
                        <table class="table table-striped table-hover" id="tblhijosItemID">
                            <thead class="thead-green">
                                <tr>
                                    <th hidden>Salvado</th>
                                    <th hidden>Id</th>
                                    <th>Niño</th>
                                    <th>Seleccione</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var hijodepadre in ViewBag.ItemsHijosDePadre)
                                {
                                    //<tr><td>T</td><td hidden><input type="text" value="@hijodepadre.Childid" /></td><td>@hijodepadre.Nombre1</td><td><input type="checkbox" name="record"></td></tr>
                                    <tr><td hidden>T</td><td hidden>@hijodepadre.Childid</td><td>@hijodepadre.Nombre1</td><td><input type="checkbox" name="record"></td></tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </form>
            <div class="row">
                <div class="col-md-5">
                    <button type="button" class="delete-row">Borrar</button>
                    <button id="saveOrder" type="Button" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>

</div>
