@{
    ViewData["Title"] = "Niños";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}
<div class="card-body table-responsive p-0">
    <a asp-controller="Child" asp-action="CreateChild">Agregar Niños</a>
    <table class="table table-hover text-nowrap">
        <thead>
            <tr>
                <th>ID</th>
                <th>Primer Nombre</th>
                <th>Segundo Nombre</th>
                <th>Primer Apellido</th>
                <th>Segundo Apellido</th>
                <th>Fecha Nac.</th>
                <th>Sexo</th>
                <th>Foto</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var child in ViewBag.Childs)
            {
                var photopath = "~/images/" + (child.Photo ?? "noimage.png");
            <tr>
                <td>@child.Childid</td>
                <td>@child.Nombre1</td>
                <td>@child.Nombre2</td>
                <td>@child.Apellido1</td>
                <td>@child.Apellido2</td>
                <td>@child.Fechanacimiento</td>
                <td>@child.Sexo</td>
                <td><img class="card-img-top" src="@photopath" asp-append-version="true" width="40" height="40"></td>
                <td><a asp-action="EditChild" asp-route-id="@child.Childid">Editar</a></td>
            </tr>
            }

        </tbody>
    </table>
</div>
