@{
    ViewData["Title"] = "Maestros";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}
<div class="card-body table-responsive p-0">
    <div id="PlaceHolderMaster"></div>
    <button type="button" class="btn btn-primary" data-toggle="ajax-master" data-target="#addMaster" 
            data-url="@Url.Action("_CreateMaster")">Agregar Maestro</button>
    <table class="table table-hover text-nowrap">
        <thead>
            <tr>
                <th>ID</th>
                <th>Primer Nombre</th>
                <th>Segundo Nombre</th>
                <th>Primer Apellido</th>
                <th>Segundo Apellido</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var master in ViewBag.Masters)
            {
                <tr>
                    <td>@master.Maestroid</td>
                    <td>@master.Nombre1</td>
                    <td>@master.Nombre2</td>
                    <td>@master.Apellido1</td>
                    <td>@master.Apellido2</td>

                    <td><a asp-action="EditMaster" asp-route-id="@master.Maestroid">Editar</a></td>
                </tr>
            }

        </tbody>
    </table>
</div>

